.login-parent{
    width: 100%;
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/1633744.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.login{
    width: 20%;
    height: 60vh;
    /* border: 3px solid white; */
    text-align: center; 
    margin-left: 10%;
    padding-top: 3%;
}

.login h2{
    font-size: 2.2rem;
}

.login form{
    font-size: 1rem;
    
}

.login *{
    margin-top: 6%;
}

.login button{
    background-color: rgb(34, 34, 242);
    color: white;
    border-radius: 5px;
    padding: 5px;
 }

 .login button:hover{
    background-color: rgb(64, 74, 83);
}
.login a{
    color: red;
}


.login a:hover {    
    color: rgb(34, 125, 210);
}


